.nav-holder {
    width: 90%;
    height: 95px;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-container {
        width: 600px;
        display: flex;
        margin-right: 50px;

        .burger{
            width: 25px;
            height: 25px;
            display: none;
            .bar {
                width: 25px;
                height: 3px;
                margin: 5px 0px;
                border-radius: 20px;
                display: block;
                background-color: #000000;
                transition: all 0.3s ease-in-out;
            }
        }
    
        .burger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .burger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .burger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .links {
            width: 566px;
            height: 55px;
            font-family: caveat-bold;
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            overflow: hidden;
            transition: height 0.4s, opacity 0.4s ease-in;
            a {
                text-decoration: none;
                color: #000000;
            }
        }
    
        .links.active {
            height: 75vh;
            opacity: 1;
        }
    }

    .logo {
        margin-left: 50px;
    }

    .login {
        width: 158px;
        height: 52px;
        border-radius: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: caveat-regular;
        font-size: 25px;
        background-color: #FFD972;
    }
}